@media screen and (max-width: 960px){
	.cardz-current-stock-on-mobile{
		width: 96% !important ;

		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.card-current-stock-photo-mobile{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
